@import "../../../../sass/main.scss";

.forget-password-form-container {
  margin-inline: auto;
  margin-block: auto;
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
      color: $primaryRed !important;
      text-align: center;
    }
  }
}
