@import "../../sass/main.scss";

.dashboard-container {
  width: 100%;
  display: flex;
  margin-top: $navbar-height + $page-margin-top;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - #{$navbar-height + $page-margin-top});
  .header-box {
    margin-inline: auto;
    .header {
      @extend .page-header;
      margin-bottom: 1rem;
      font-size: 2em !important;
    }
  }

  .dashboard-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: $padding-inline-md;
    gap: 3rem;
    @media (max-width: $sm-navbar) {
      padding-inline: $padding-inline-sm;
    }
    @media (max-width: $xs-navbar) {
      padding-inline: $padding-inline-xs;
    }
    @media (max-width: 1150px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .single-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      .update-box {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: end;
        background-color: white;
        gap: 1rem;
        * {
          color: white;
        }
        .box {
          width: 55px;
          padding-block: 0.3rem;
          border-radius: 10px;
          display: "flex";
          justify-content: center;
          align-items: "center";
          text-align: center;
          cursor: pointer;
        }
        .delete {
          @extend .box;
          background-color: $primaryRed;
        }
        .update {
          @extend .box;
          background-color: $primaryBlue;
        }
      }
    }
  }
}
