@import "../../sass/main.scss";

.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $page-margin-top + $navbar-height;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  padding-inline: $padding-inline-md;
  @media (max-width: $sm-navbar) {
    padding-inline: $padding-inline-sm;
  }
  @media (max-width: $xs-navbar) {
    padding-inline: $padding-inline-xs;
  }
  .post-detail-box {
    position: relative;
    width: 100%;
    box-shadow: $shadow;
    padding-bottom: 1rem;
    @media (max-width: $sm-navbar) {
      width: 100%;
    }
  }
}
